<H1> Student Login </H1>
<% form_for :student do |f| %>
    <%= f.label("username") %>
    <%= f.text_field(:username) %> <br />
    <%= f.label("password") %>
    <%= f.password_field(:password) %> <br /><br />
    <%= f.submit("Login") %>
<% end %>
